<div class="coffeed-rating">
{% if rating == 1 %}
<i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i>
{% elif rating == 2 %}
<i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i>
{% elif rating == 3 %}
<i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i>
{% elif rating == 4 %}
<i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up-o"></i>
{% elif rating == 5 %}
<i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i><i class="glyphicon glyphicon-thumbs-up"></i>
{% else %}
<i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i><i class="glyphicon glyphicon-thumbs-up-o"></i>
{% endif %}
</div>